%h2
  CCFS for Business
%p
  %span.boldtext
    Studies have shown that Healthy, Confident, Well-Balanced Employees...
%ul
  %li
    Will Project A Positive Image Of Their Company
  %li
    Be Inspired, Motivated
  %li
    More Conducive To Being Productive, Creative, and Team Oriented
  %li
    Instill Confidence and Trust In Customers and Community
  %li
    Will Achieve and Exceed Goals
  %li
    Are Less Likely To Call In Absent From Work
%p
  Health and Fitness experts advocate a "proactive and preventative" approach to managing the high cost of health care services and HR benefits being offered to employees.
%p
  The American Heart, Diabetes and Cancer Associations, among others have designated to have Monday as the day that "All Health Breaks Loose - AHBL", across America advocating healthy lifestyle changes and focus on the individual's health. (Source: Cape Cod Times article, January 11th, 2007)
%p
  Studies have shown that employees with low/poor morale in the workplace experienced "more exhaustion, job tension, nervousness, depressed moods and mistrust." (Source: Cape Cod Times article, January 2nd, 2007)
%p
  Many are discovering from the private to the corporate sectors what an incredibly complementary tool Feng Shui
  tenets can be to sound management strategies in conjuntion with the Work-Life Balance program offered to their employees.
%p
  By utilizing the proven science of Feng Shui tenets in the company practice, and offering it as a Human Resource Work-Life Balance Benefit Program/Package, many have discovered the most valuable asset:
  %b
    the Employees and their families
  benefit from a harmonious and balanced work/life situation.
%p
  By creating a workplace that is harmonious and balanced, the immediate result is that operations will run more smoothly, more efficiently with improved productivity and sales! A win/win situation for everyone!!!
%p
  CCFS proven programs and benefits begin with the individual person, which include time and stress management tools, organizational skills, as well as diet and exercise programs that will result in everyone having a more positive attitude amongst all of the staff and a "Work/Life Balance".
%p
  CCFS offers Group Membership Rates, Personalized and Professional Consultations, Seminars, as well as Retreats and Corporate Events which have benefitted many clients in the private and professional sectors.
