%h3 CCFS would love to hear from you!

%p Contact us to schedule your CCFS consultation for your home/office! Inquire about setting up a feng shui class or seminar for your employees, or just to learn more about what Cape Cod Feng Shui can do for you!

%p Learn about the principles of Feng Shui and how to design your office/work space to attract auspicious energies and beneficial opportunities in your life and career.

%ul
  %li Call us at: 508-539-8894
  %li Email Celeste at: celeste@capecodfengshui.com

