%h3 Improve your life!

%p Thank you for your interest! Please browse our website to find any and all information pertaining to who we are and what we do! Thank you for your patience as we reconstruct our website, Enjoy!
%img{ :src => "images/example.jpg" }

%p CCFS offers professional, confidential and personalized consultations, educational seminars, retreats and events in many areas of the life and work balance topics facing us in this fast paced modern day arena. We offer one-hour sessions to full-day, in-depth retreats and events at your home, office, company location or facility of your choice.

%img{ :src => "/images/logo.gif", :class => "logo", :style => "width:100px;height:80px;" }
%p CCFS Logo

%p Learn about the Feng Shui tenets and how to utilize them to organize and streamline everyday activities, design your home, office, or work space to attract auspicious energies and beneficial opportunities into your life and career!

