%h2
  Improve your life!
%p 
  Welcome and thank you for your interest in CCFS! 
%p 
  The key to a successful and happy life is a balanced lifestyle and a harmonious energy-charged home and workplace. Feng Shui brings into alignment two aspects to achieve a greater understanding of life, your personal life-force and personality with your environment. As a result, you will have more pleasure out of life, enjoy better health, have greater successes with your relationships, and will attract more auspicious and enriching experiences in all aspects of your life! 
%p
  %span.magedacolortext
    Cape Cod Feng Shui 
  (CCFS) offers professional, confidential and personalized consultations to include diet and stress relieving exercises, educational seminars, retreats and events in many areas of the work/life balance topics facing us in this fast paced modern day arena. We offer one-hour sessions to full-day, in-depth retreats and events at your home, office, company location or facility of your choice.
%p
  Learn about Feng Shui tenets and how to utilize them to organize your home and everyday activities, and how to design your home, office, or work space to attract auspicious energies and beneficial opportunities into your life and career!
%p.bottompadding
  We look forward to hearing from you and hope you "Enjoy A Great Feng Shui Day!"
