%h2 Programs

%p
  %span.boldtext
    CCFS CONSULTAIONS, SEMINARS AND EVENTS ARE PERSONALIZED, INTERACTIVE, INFORMATIVE AND FUNFILLED SESSIONS.  

%p
  %span.boldtext
    WE WILL PROVIDE YOU WITH THE PROVEN FENG SHUI KNOWLEDGE TO ATTRACT AUSPICIOUS ENERGY INTO YOUR PERSONAL AND PROFESSIONAL ENVIRONMENTS. 

%p  Learn how to make the most of the feng shui living skill to bring Health, Wealth and Happiness into your life.  
 
%ul
  %li
    You'll learn about good & bad energy (SHENG CHI AND SHAR CHI). Also, you’ll learn how to suppress the bad and enhance the good energy to create balance and harmony in your life.
  %li   
    You'll learn how to arrange your personal space in your home, living room, dining room and bedroom and the best locations to where you eat, sleep, live and play!
  %li   
    You'll learn what could be affecting your career and causing problems at work and how to make changes to create positive results.
  %li   
    Together we'll apply feng shui to any kind of modern house, apartment, bungalow and townhouse, garden and even to a single room in your college dorm.
  %li   
    You'll become skilled in big and small tai chi. And you’ll see how even arranging your desk at work can benefit your career by applying simple feng shui principles. 

