%h3About CCFS

%p
  Our instructor, Celeste M. Curley, Founder and President of Cape Cod Feng Shui since 2000, has studied and practiced feng shui tenets for over 28 years. Utilizing modern day methods and applications in Traditional Chinese Compass, Form School, Eight Mansions, Flying Star, and Space Clearing feng shui, Celeste has developed and offers a wide variety of programs.

%p 
  CCFS programs assist in clearing the emotional and physical clutter, organizing your personal and professional environments to include time and stress management tools, diet and exercise programs, personal and professional image consultation resulting in an improved overall morale and optimum performance both personally and professionally.

%p
  CCFS' list of clients include members from the private and profession sectors such as local business owners and corporations, i.e., Citizens Bank, Curves, etc. Referrals include international clients in France, Spain, and Germany to name a few. Having experienced the efficacy and power of feng shui, CCFS' mission is to empower you with the tools to live and create the lifestyle of your dreams!!!
About Celeste


%img{ :src => '/images/celeste-lt-grad2.jpg' }
%p Celeste with Lillian Too

%p Celeste traveled to Malaysia to study with Lillian Too, one of the most highly regarded feng shui expert in the world and earned her Master Practitioner's-Consultant's Certificate at the Institute of Feng Shui in Malaysia in November of 2001.

 
%h3 About Feng Shui

%p Feng Shui, (pronounced "fung schway", and literally translated as "wind and water") the 4,000 year old Chinese science/art; empowering you with a systematic approach to organizing and arranging your living and workspace that brings about harmony and balance within you and your surroundings, directing your creative and productive energies and enhances your opportunities for success in all areas of life.

%p Arrange your environment to improve your life! Learn about the principles of Feng Shui and how to design your office/work space to attract auspicious energies and beneficial opportunities in your career.

%p Feng Shui is an amazing art, skill and practice of utilizing fundamentals to activate and enhance the "sheng chi", or "positive energy" and balancing the Yin & Yang (negative & positive). Also, utilizing feng shui tenets are used in creating and promoting harmony and balance with our surroundings to attract auspicious, and excellent good fortune by enhancing the eight aspirations of life: Health, Wealth, Career, Love, Recognition, Children, Education and Networking (Mentors).

