%h3
  Seminars - Retreats &amp; Events
%p
  CCFS offers professional, confidential and personalized consultations, educational seminars, retreats, and events in many areas of the life/work balance topics facing us in this fast paced modern day arena. These presentations offer beneficial and practical suggestions for lifestyle changes, which will result in a more balanced, harmonious and productive life/work environment promoting a healthier lifestyle. We offer one-hour sessions to full-day, in-depth retreats and events at your company location or facility of your choice.
%h3
  A Few Topics of Interest included in our presentations are:
%ul
  %li
    A Harmonious &amp; Balanced Lifestyle/Environment Program
  %li
    Organizational Skills and Tools at the Home and Office
  %li
    Time and Stress Management Tools
  %li
    Diet and Exercise Programs
  %li
    Setting and Prioritizing Goals and Aspirations
  %li
    Personal and Professional Image
%p
  Our CCFS products were developed and designed to assist you in developing a "Harmonious and Balanced Lifestyle and Environment", which are key to a successful and happy life.
%p
  Certified experts in their field conduct all of the CCFS events. The action packed, interactive, fun, informative and educational events address the same personal and professional issues with which we deal on a day-to-day basis with empathy and professionalism.
%p
  Participants comment on the value of these programs in assisting them in achieving their goals, personally and professionally. They become part of our CCFS family, often attending events to give testimonials on the efficacy of how a harmonious and balanced lifestyle, and an environment programs leads to a happy and successful life!
%br
